<p-toast></p-toast>

<div class="card">
  <p-table [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Date de création</th>
        <th>Etat</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Nom d'utilisateur</th>
        <th>Matricule</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td>
          {{ user.createdDate | date: "shortDate":"":"fr-FR" }}
        </td>
        <td class="status">
          <span
            [ngClass]="{
              valide: user.status === 'Validé',
              rejected: user.status === 'Rejeté',
              'on-validation': user.status === 'En validation'
            }"
            >{{ user.status }}</span
          >
        </td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.registrationNumber }}</td>
        <td>
          <i class="pi pi-trash" (click)="deleteProduct(user)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card mt-4">
  <div class="text-right">
    <button
      pButton
      pRipple
      label="Ajouter utilisateur"
      class="p-button-warning p-mr-2"
      (click)="openNew()"
    ></button>
  </div>
</div>

<!-- <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
  styleClass="p-fluid">

</p-dialog> -->

<!-- <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->
